.pet-details{
    background-color: #0f172b;
    color:white;
    padding-bottom: 20px;
}

.pet-details-header{
    background-color: black;
    padding: 10px;
}

.pet-details-class{
    font-size: 36px;
    margin-right: 20px;
    color: red;
}

.pet-details-secret{
    background-color: red;
    color:white;
    border-radius: 10px;
    padding:5px;
}

.pet-details-banner{
    text-align: center;
    background-color: red;
    margin: 10px;
    padding:10px;
    font-size: 20px;
}

.pet-detail-container{
    position: relative;
    margin-left:10px;
    margin-right:10px;
    width:50%;
}

.pet-detail-sv{
    position: absolute;
    top: 5px;
    right:5px
}

.pet-detail-cl{
    position:absolute;
    top:5px;
    left:5px;
}

.pet-detail-date{
    position: absolute;
    bottom:5px;
    left:5px;
}

.pet-detail-img{
    width: 100%;
    height: 500px;
      background-size: cover;    /* Scales the image to fill the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

.pet-intelligence{
    background-color: #1d293d;
    border: 1px solid white;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    width: 80%;
    margin-left: 5%;
}

.pet-intelligence-title{
    color:#e1690f;
    border-bottom: 1px solid white;
    padding:10px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
    
}

.pet-intelligence-cell{
    border-left: 1px solid white;
    padding:10px;
    margin-bottom:10px;
}

.pet-intelligence-cell-title{
    color:#a45b10;
    padding-left:3px;
    padding-right:3px;
    font-weight: 500;
}

.pet-behavior{
      background-color: #1d293d;
    border: 1px solid white;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    width: 80%;
    margin-top:10px;
     margin-left: 5%;
}

.pet-behavior-title{
    color:#e17100;
    padding-left:3px;
    padding-right:3px;
    font-weight: 500; 
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    font-size: 24px;
}

.pet-behavior-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pet-behavior-item{
    margin-right:10px;
    background-color: #443731;
    border: 1px solid white;
    border-radius: 5px;
    padding:5px;
}

.pet-med{
    background-color: #1d293d;
    border: 1px solid white;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    width: 50%;
    margin-top:10px;
     margin-left: 5%;
}

.pet-med-title{
    color:#ad0c19;
    padding-left:3px;
    padding-right:3px;
    font-weight: 500; 
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    font-size: 24px;
}

.pet-med-list{
    display: flex;
    flex-direction: row;
}

.pet-med-item{
        margin-right:10px;
        background-color: #0f4532;
        padding:10px;
        border-radius: 10px;
}

.pet-requirements{
      background-color: #1d293d;
    border: 1px solid white;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    width: 80%;
    margin-top:10px;
    margin-left: 5%;
}

.pet-requirement-title{
    color:#e40019;
    padding-left:3px;
    padding-right:3px;
    font-weight: 500; 
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    font-size: 24px;
}

.pet-requirement-item{
    padding:10px;
}

.pet-level{
         background-color: #1d293d;
    border: 1px solid white;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    width: 80%;
    margin-top:10px;
}

.pet-level-header{
    background-color: #291f2e;
    border-bottom: 1px solid red;
    padding:10px;
    margin-bottom: 10px;
}

.pet-level-header-level{
    background-color: red;
    padding:10px;
    border-radius: 5px;
    width:fit-content;
}

.pet-level-header-name{
    font-size:24px;
    font-weight: 500;
}

.pet-level-header-location{
    font-weight: 200;
}

.pet-level-list{
    background-color: #151f34;
    border-left: 1px solid orange;
    padding: 10px;
    margin-bottom: 5px;
}

.pet-level-list-type{
    font-weight: 200;
    color: #74767d;
}

.pet-level-list-desc{
    font-weight: 500;
}

.pet-handler{
    text-align: center;
    background-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.pet-detail-main{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
}
.pet-level-container{
    width: 40%;
}